export(
    "dayOfMonth<-",
    PL, PLsorted,
    char2num,
    closeOnFirst,
    dayOfMonth,
    drawdown,
    endOfMonth
    isValidISIN,
    isWeekend,
    limit,
    monthlyStats,
    nextBusinessDay,
    plotTradingHours,
    previousBusinessDay,
    returns,
    rmspace,
    roundPOSIXt,
    runStats,
    saveAttachment,
    scaleToUnity,
    scaleTrades,
    splitTrades,
    timegrid,
    backtest
    )
useDynLib(PMwR)
