export(
    "dayOfMonth<-",
    PL,
    PLsorted,
    Tradelist,
    backtest,
    char2num,
    closeOnFirst,
    dayOfMonth,
    drawdown,
    endOfMonth,
    endOfPreviousMonth,
    firstOfMonth,
    isValidISIN,
    isWeekend,
    lastWeekday,
    limit,
    monthlyStats,
    nextBusinessDay,
    plotTradingHours,
    position,
    position.Tradelist,
    previousBusinessDay,
    returns,
    rmspace,
    roundPOSIXt,
    runStats,
    saveAttachment,
    scaleToUnity,
    scaleTrades,
    splitTrades,
    timegrid,
    twExposure    
    )

# methods
S3method(print,Tradelist)
S3method(sort,Tradelist)
S3method(c,Tradelist)
S3method(position,Tradelist)
S3method(position,default)
useDynLib(PMwR)
