export(
    "dayOfMonth<-",
    dayOfMonth,
    endOfMonth,
    mday,
    "mday<-",
    endOfPreviousMonth,
    firstOfMonth,
    isWeekend,
    lastWeekday,
    nextBusinessDay,
    plotTradingHours,
    previousBusinessDay,
    roundPOSIXt,
    runStats,
    timegrid
    )
useDynLib(PMwR)
