*eps
*fls
*pdf
/.#ex1.jnl
/Rplots.pdf
/auto
/ex1.jnl
/manual.aux
/manual.bbl
/manual.blg
/manual.dvi
/manual.fdb_latexmk
/manual.idx
/manual.ilg
/manual.ind
/manual.log
/manual.out
/manual.ps
/manual.tex
/manual2-blx.bib
/manual2.bbl
/manual2.html
/manual2.pdf
/manual2.tex
